extends layout

block content
  h1(style="text-align:center;")= title
  p(style="text-align:center;") Welcome to #{title}
  p(style="text-align:center;") Thakellapati Sai Charan
  button(type='button',class="btn btn-light, btn btn-outline-warning") Press Me