extends layout

block content
  h1(style="text-align:center;")= title
  p(style="text-align:center;") Welcome to #{title}
  p(style="text-align:center;") Thakellapati Sai Charan
  button(type='button',class="btn btn-light, btn btn-outline-warning",onclick="doBump()") Press Me
  div(id='bump',style="text-align:center") Bump the count
  img(src='C:\Users\S555571\Desktop\WEBAPPS\44563-webapps-assignment-10-SaiCharanThakellapati\public\images', alt='image', style='width:100px;height:100px;')
  script.
    let count=0;
    let bump=1;
    function doBump(){
    bump=bump+count;
    document.getElementById('bump').innerHTML=bump;
    bump++;
    };
  